.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  max-width: var(--max-width);
}

.informationText {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.basicInformationText {
  font-weight: 700;
  font-size: clamp(0.85rem, 0.85rem + 1vw, 1.55rem);
  line-height: clamp(1.3rem, 1.3rem + 1vw, 1.9rem);
}

.furtherInformationText {
  font-size: var(--normal-continuous-text-size);
  line-height: var(--normal-continuous-text-line-height);
}

.placeholderBox {
  background-color: var(--secondary-bg-color);
  height: 250px;
  width: 100%;
  border-radius: 25px;
}

@media only screen and (min-width: 768px) {
  .informationText {
    max-width: 60%;
  }

  .contentWrapper {
    flex-direction: row;
  }

  .placeholderBox {
    max-width: 35%;
  }
}
