.smallText {
  font-weight: 400;
  font-size: clamp(0.75rem, 0.75rem + 2vw, 2rem);
}

.largeText {
  font-weight: 700;
  font-size: clamp(2rem, 2rem + 4vw, 4rem);
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 117px;
}

.wave .shapeFill {
  fill: #fdf6fa;
}
