:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #fdf6fa;
  --primary-fg-color: #3f3038;
  --secondary-fg-color: #f361af;
  --main-font: 'Rubik', sans-serif;
  --monospace-font: 'IBM Plex Mono', monospace;
  --border-radius: 1rem;
  --max-width: 1280px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-fg-color);
  font-family: var(--main-font);
}

ul {
  list-style-type: none;
}

a {
  color: var(--primary-fg-color);
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 100px 50px 250px 50px;
}

section h2 {
  color: var(--secondary-fg-color);
  margin-bottom: 2rem;
  font-size: clamp(2.25rem, 2rem + 4vw, 4.5rem);
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  max-width: 1280px;
}

.highlighted {
  color: var(--secondary-fg-color);
}

.highlightedLink {
  transition: all 0.25s;
  border-bottom: 3px solid var(--secondary-fg-color);
}

.highlightedLink:hover {
  color: var(--primary-bg-color);
  background-color: var(--secondary-fg-color);
}

::selection {
  color: var(--primary-bg-color);
  background-color: var(--secondary-fg-color);
}

@media only screen and (min-width: 1280px) {
  section {
    align-items: center;
  }

  section h2 {
    margin-bottom: 3.5rem;
  }
}
