.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 60vh;
  padding: calc(25px + var(--nav-height)) 25px 150px 25px;
  background-color: var(--secondary-bg-color);
}

.textWrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: var(--max-width);
}

.smallText {
  /* margin-top: 0; */
  font-size: clamp(0.7rem, 0.7rem + 2vw, 2rem);
}

.largeText {
  font-weight: 700;
  font-size: clamp(1.6rem, 1.6rem + 4vw, 4rem);
}

.jobText {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (min-width: 1280px) {
  .text {
    align-self: flex-start;
    max-width: 75%;
  }
}
