.main {
  padding: calc(25px + var(--nav-height)) 0 150px 0;
  max-width: var(--max-width);
  position: relative;
}

.main section {
  align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main section p {
  margin: 0;
}

.main h1 {
  padding-left: 25px;
  padding-right: 25px;
}

.main h2 {
  font-size: clamp(1.5rem, 1.5rem + 2vw, 3rem);
  color: var(--primary-fg-color);
  margin-bottom: 0.5rem;
}

.main h3 {
  font-size: clamp(1rem, 1rem + 2vw, 1.75rem);
  color: var(--primary-fg-color);
  margin-bottom: 0.25rem;
}

.main article p {
  margin-bottom: 2rem;
}

.link {
  opacity: 0.5;
  transition: all 0.25s;
}

.link:hover {
  opacity: 1;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 117px;
}

.wave .shapeFill {
  fill: #fdf6fa;
}

@media only screen and (min-width: 768px) {
  .main h1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}
