.logo {
  color: var(--secondary-fg-color);
  font-family: var(--monospace-font);
  font-weight: 700;
  width: 100px;
  display: flex;
  justify-content: center;
  opacity: 0.75;
}

.logo > * {
  transition: 0.25s;
}

.logo:hover {
  opacity: 1;
}

.logo:hover .logoBracket:first-child {
  margin-right: 0;
}

.logo:hover .logoBracket:last-child {
  margin-left: 0;
}

.logoBracket:first-child {
  margin-right: 0.5rem;
}

.logoBracket:last-child {
  padding-left: 0.25rem;
  margin-left: 0.5rem;
}
