.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
}

@keyframes moveToRight {
  from {
    left: -50%;
  }
  to {
    left: 0%;
  }
}

.inverted {
  transform: scaleY(-1);
}

.animated {
  /* left: -50%; */
  animation-name: moveToRight;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
