.work {
  background-color: var(--secondary-bg-color);
}

.heading {
  color: var(--secondary-fg-color);
  margin-bottom: 2rem;
  font-size: clamp(1.25rem, 1.25rem + 4vw, 3rem);
  text-transform: uppercase;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 2rem;
  width: 100%;
  max-width: var(--max-width);
  padding: 0;
}

@media only screen and (min-width: 1280px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}
