.work {
  background-color: var(--secondary-bg-color);
}

.heading {
  color: var(--secondary-fg-color);
  margin-bottom: 2rem;
  font-size: clamp(1.25rem, 1.25rem + 4vw, 3rem);
  text-transform: uppercase;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
  max-width: var(--max-width);
  padding: 0;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 81px;
}

.wave .shapeFill {
  fill: var(--primary-bg-color);
}

@media only screen and (min-width: 1280px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}
